<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Phishing Analysis</title>
</head>
<body>
    <header>
        <h1>Phishing Detection</h1>
    </header>
    <main>
        <h2>Analyze a Link or Email for Phishing</h2>
        <form action="/analyze" method="post">
            <label for="input">Enter the link or email you want to analyze:</label>
            <input type="text" id="input" name="input" placeholder="http://example.com" required>
            <button type="submit">Analyze</button>
        </form>
        <a href="/">Back to Home</a>
    </main>
</body>
</html>