body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #6c63ff;
}

a {
    text-decoration: none;
    color: #6c63ff;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}